[submodule ".emacs.d/go-mode"]
	path = .emacs.d/go-mode
	url = git@github.com:/dominikh/go-mode.el.git
[submodule ".emacs.d/xresources-theme"]
	path = .emacs.d/xresources-theme
	url = git@github.com:/martenlienen/xresources-theme.git
[submodule ".emacs.d/arduino-mode"]
	path = .emacs.d/arduino-mode
	url = git@github.com:/bookest/arduino-mode.git
[submodule ".config/xresources"]
	path = .config/xresources
	url = git@github.com:/MicahSnell/Xresources-themes
